{% extends 'music/base.html'%}
{% block 'body' %}
{% load widget_tweaks %}
    <div class="container" >
        <br>
        <h1 style="color: grey;">Submit a Lyrics</h1>
        <h2>{{ note }}</h2>
        <form action="{% url 'submit' %}" method="POST" novalidate> 
            {% csrf_token%}
            {% for field in musicform %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                <br>
            </div>
            {% endfor %}
            <br>
            <input type="submit" value="Submit Song">
        </form>
    </div>

{% endblock %}

